body{
	font-size: 16px
	color: #000;
	background-color: #fff;
	font-family: "Oxygen",sans-serif;
}

/*** Header ****/
.navbar-header {
	background-color: #8e8e8e;
	border-radius: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	/**border: 2px solid #000;**/
}

#header-nav {
	background-color: #8e8e8e;
	border-radius: 0;
	border: 3px solid #000;
}
#collapsable-nav {

}
.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /** Brand Name **/ 
	color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: -10px;
	margin-bottom: 0px;
	padding-bottom: 20px;
	line-height: .75;
}

.navbar-brand:hover {
	text-decoration: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

.navbar-default .navbar-toggle {
	border: 1px solid #000;
}

#nav-list {
	background-color: #fff;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.1em
}


/*** main page ***/
#home-sections {
	background-color: #8e8e8e;
}
h2 {
	margin-top: 0px;
	margin-bottom: 40px;
	color: #000;
}
h3 {
	font-weight: bold;
	color: #000;
}
p {
	color: #000;
}

hr {
	border-color: #000;
	width: 98%;
}


/*** extra small devcies Only ***/
@media (max-width: 767px) {
	#header-nav {
		background-color: #fff;
		border: none;
		scroll-margin-top: -15px;
	}
	
	#collapsable-nav {
		border: 3px solid #000;
	}
	.navbar-header {
		border: 2px solid #000;
	}
	#home-sections {
		margin-left: 10%;
		margin-right: 10%;
	}

}